.toggler {
	width: 600px;
	height: 250px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}

#content-box {
	position: relative;
	width: 550px;
	padding: 0.4em;
}

#content-box h3 {
	margin: 0;
	padding: 0.4em;
	text-align: center;
	background-color: #4CCBBC;
}

#content p{
	font-size: 30px; 
	text-align: center;
}

#response {
	width: 565px;
	height: 200px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

#button {
	padding: .5em 1em;
	text-decoration: none;
}

#progressbar {
	width: 500px;
	height: 20px;

	position: absolute;
	bottom: 100px;
	left: 50%;
	margin-left:-260px;
}

#progressbar .ui-progressbar-value {
	background-color: #5CB8E1;
}

.progress-label {
	position: absolute;
	top: 2px;
	left: 35%;

	font-size: 12px;
	font-weight: bold;
	text-shadow: 1px 1px 0 #fff;
}


.likert ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.likert li
{
	float: left;
	text-align: left;
	list-style-type: none;
}


